# Web Framework
fastapi==0.115.6
uvicorn==0.32.1

# Blockchain
web3==7.6.0
eth-account==0.13.4
eth-typing==5.0.1
eth-utils==5.1.0

# AI and Language Models
openai==1.68.2
google-generativeai==0.8.4

# Database
peewee==3.17.8
SQLAlchemy==2.0.36

# Utils
python-dotenv==1.0.1
pydantic==2.10.3
requests==2.32.3
typing_extensions==4.12.2
websockets==13.1
